{% extends "base.html" %}

{% block title %}WRITE | {% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <article class="blog-box the-font article">
                    <form method="post" action="">
                        {{ form.csrf_token }}
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    {{ form.title.label }}
                                {{ form.title(class="form-control",placeholder="Title") }}
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    {{ form.category.label }}
                                    {{ form.category(class="form-control") }}
                                </div>
                            </div>
                        {{ form.labels.label }}
                        <div class="tagsinput-primary">
                            {{ form.labels(class="form-control tagsinput") }}<br>
                        </div>
                        <script src="//cdn.bootcss.com/flat-ui/2.3.0/js/flat-ui.min.js"></script>
                        <script>
                            $(".tagsinput").tagsinput();
                        </script>
                        {{ form.summery.label }}
                        {{ form.summery(class="form-control",placeholder="Summery", rows="20") }}<br>
                        {{ form.body.label }}
                        {{ form.body(class="form-control",placeholder="Body", rows="50") }}<br>
                        {{ form.submit }}
                    </form>
                </article>
            </div>
        </div>
    </div>
{% endblock %}